@tailwind base;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
}

.bg-gradient-1 {
  background-image: url('/bg.svg');
  background-size: cover;
  background-position: center;
}
.text-gradient-1 {
  background-image: linear-gradient(to right, #0066FF 0%, #87FFC5 90%, #FFFFFF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-links > li {
  @apply flex items-center my-2
}

.social-links > li > svg {
  @apply mr-4 text-2xl
}

.work-item {
  overflow-x:visible;
}

.work-item > div:first-child > * {
  transition: all 0.3s;
}

.work-item:hover > div:first-child > * {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}


@tailwind utilities;