@tailwind base;
@tailwind components;

html,
body {
  padding: 0;
  margin: 0;
}

nav.navbar {
  transition: all 0.5s;
  @apply fixed top-0 hidden lg:block w-screen
}

nav.navbar ul, nav.navbar div.logo, nav.navbar {
  z-index: 1000
}

nav.navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.2s;
  @apply bg-gradient-1
}

nav.navbar_top::before {
  opacity: 0
}

.mobile-nav-page > div > div {
  transition: height 0.3s;
  @apply bg-primary
}

.bg-gradient-1 {
  background-image: url('/bg.svg');
  background-size: cover;
  background-position: center;
}
.bg-gradient-1-transparent::before {
  content: '';
  opacity: 0.4;
  background-image: linear-gradient(to right, #0066FF 0%, #87FFC5 90%, #FFFFFF 100%);
  background-size: cover;
  background-position: center;
  @apply rounded-xl top-0 left-0 absolute w-full h-full
}

.bg-gradient-2 {
  background: linear-gradient(to right, rgba(0, 102, 255, 0.9), rgba(0, 102, 255, 0.8), rgba(0, 102, 255, 1));
}

.text-gradient-1 {
  background-image: linear-gradient(to right, #0066FF 0%, #87FFC5 90%, #FFFFFF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-secondary {
  transition: all 0.3s;
  @apply px-6 py-3 bg-secondary text-white text-xl rounded-md shadow-lg hover:shadow-xl
}

.social-links > li {
  @apply flex items-center my-2
}

.social-links > li > svg {
  @apply mr-4 text-2xl
}

.work-item > div:first-child > * {
  transition: all 0.3s;
}

.work-item:hover > div:first-child > * {
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.work-item > .work-thumbnail div {
  transition: opacity 0.3s;
  opacity: 0;
}

.work-item:hover > .work-thumbnail div {
  opacity: 1;
  pointer-events: all;
}
/*
.post-body {
  @apply w-full
}
.post-body h1 {
  @apply text-4xl xl:text-5xl mb-4 mt-10
}
.post-body p {
  @apply mb-4
}
.post-body a {
  @apply underline text-secondary
}
.post-body table td {
  @apply inline-block xl:table-cell
}
.post-body table td:first-child * {
  @apply mr-10
}
.post-body table td:last-child {
  @apply xl:w-1/2 2xl:w-2/5
}
.post-body img {
  @apply shadow-xl
}
.post-body > img {
  @apply w-full lg:w-10/12 mx-auto my-10
}
.post-body table > img {
  @apply w-full
}
*/

/* LARGE */
@media (min-width: 1024px) {
  .work-item > .work-text {
    width: 180%;
  }
}

@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes opacityIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1;
  }
}

@tailwind utilities;